$fs-logo-blue-color: #29abe1;
$fs-logo-green-color: #71ae00;
$fs-logo-magenta-color: #d3135a;

$facebook_color: #3b5998;
$twitter_color: #4099ff;
$linkedin_color: #4875b4;
$youtube_color: #ff3333;
$gplus_color: #c63d2d;
$whatsapp_color: #43d854;
