#framework {
    position: relative;
//    background: #111;

    @include linear-gradient(#222, #111);
    color: #fff;
    border-top: 1px solid #444;

    h1 {
        font-size: 3.2rem;
        margin-top: 1rem;
    }

    p {
        font-size: 1.3rem;
    }

    blockquote {
        border: 2px solid #039BE5;
//        border: none;
        margin: 0;
        position: relative;
        background: #fff;
        color: #333;
        @include border-radius(3px);
        padding: 10px 90px 10px 10px;

        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: bold;

        p {
            text-transform: none;
            color: #666;
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
    }

    i.fa {
        font-size: 1.3em;
    }

    .tweet-button {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    > .container {
//        padding-top: 94px;
//        margin-top: -94px;
    }

    @media only screen and (max-width: 460px) {
        text-align: center;

        blockquote {
            padding: 10px;
        }

        .tweet-button {
            display: none;
        }
    }
}

#focus {
    position: absolute;
    top: -64px;
}