@import "variables";
@import "mixins";
@import "color";
@import "colors";
@import "grid";
@import "nav";
@import "cover";
@import "framework";
@import "filters";
@import "card";
@import "footer";

body {
    background: url('/assets/img/bkg-pattern.png') repeat;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:not(.btn):hover {
    border-bottom: 1px dashed #039be5;
}

.logo {
    font-family: 'Pacifico', cursive;
}

.includewp-tweet {
    border: 2px solid $twitter_color;
    padding: 1rem 1rem 0 1rem;
    margin-top: 1.5rem;
}
/* @media only screen and (max-width: 992px) {
    .small-right {
        float: right !important;
        left: auto !important;
        transform: initial !important;
        -webkit-transform: initial !important;
        padding: 0 !important;
        right: 0.5rem !important;
    }
}

@media only screen and (min-width: 993px) {
    nav .brand-logo.medium-center {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
} */

//right: 0.5rem;
//padding: 0;

.uppercase {
    text-transform: uppercase;
}